{
  "tabWidth": 2,
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "quoteProps": "consistent",
  "printWidth": 80,
  "htmlWhitespaceSensitivity": "css"
}
