.page-id-12 .wp-block-cover {
  cursor: pointer;
}

.page-id-12 .wp-block-cover .wp-block-cover__background {
  opacity: 0;
  transition: opacity 200ms ease;
}

.page-id-12 .wp-block-cover::hover .wp-block-cover__background {
  opacity: 0.5;
}

.page-id-12 .wp-block-cover .wp-block-cover__inner-container {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  height: 100%;
}

.page-id-12 .wp-block-cover .wp-block-cover__inner-container > p {
  height: 100%;
  display: flex;
}

.page-id-12 .wp-block-cover .wp-block-cover__inner-container a {
  flex: 1;
  display: none;
  justify-content: center;
  align-items: center;
}

@media (max-width: 782px) {
  .page-id-12 .wp-block-cover .wp-block-cover__background {
    opacity: 0.4;
  }

  .page-id-12 .wp-block-cover .wp-block-cover__inner-container a {
    display: flex;
    text-decoration: none;
  }
}

.page-id-12 .wp-block-cover::hover .wp-block-cover__inner-container a {
  display: flex;
}
