.wp-site-blocks .wpct-block-slider-loop.wp-block-wpct-block-slider-loop {
  position: relative;
  margin-left: calc(
    calc(100vw - 100%) * -1 + var(--wp--preset--spacing--50)
  ) !important;
  margin-right: calc(
    calc(100vw - 100%) * -1 + var(--wp--preset--spacing--50)
  ) !important;
  max-width: undet;
}

.wpct-block-slider-loop .wpct-block-slider-arrows .slick-arrow {
  position: absolute;
  z-index: 1000;
  top: 50%;
  transform: translateY(-30px);
  padding: 0.5rem;
  background-color: var(--wp--preset--color--base);
  height: 2.5rem;
  width: 2.5rem;
  filter: drop-shadow(4px 4px 3px #0003);
}

.wpct-block-slider-loop .wpct-block-slider-arrows .slick-arrow.slick-prev {
  left: var(--wp--preset--spacing--50);
  transform: translateY(-2.5rem) rotate(180deg);
}

.wpct-block-slider-loop .wpct-block-slider-arrows .slick-arrow.slick-next {
  right: var(--wp--preset--spacing--50);
}

.wpct-block-slider .wpct-block-slider-arrows .slick-arrow::after {
  position: static;
  width: calc(100% - 0.5rem);
  height: calc(100% - 0.5rem);
  border-right: 4px solid var(--wp--preset--color--contrast);
  border-top: 4px solid var(--wp--preset--color--contrast);
}
