.wp-site-blocks .wpct-block-slider-loop.wp-block-wpct-block-slider-loop {
  position: relative;
  margin-left: calc(
    calc(100vw - 100%) * -1 + var(--wp--preset--spacing--50)
  ) !important;
  margin-right: calc(
    calc(100vw - 100%) * -1 + var(--wp--preset--spacing--50)
  ) !important;
  max-width: undet;
}

.wpct-block-slider-loop .wpct-block-slider-arrows .slick-arrow {
  position: absolute;
  z-index: 1000;
  top: 50%;
  transform: translateY(-30px);
  height: unset;
  width: unset;
}

.wpct-block-slider-loop .wpct-block-slider-arrows .slick-arrow.slick-prev {
  left: var(--wp--preset--spacing--50);
}

.wpct-block-slider-loop .wpct-block-slider-arrows .slick-arrow.slick-next {
  right: var(--wp--preset--spacing--50);
}

.wpct-block-slider .wpct-block-slider-arrows .slick-arrow:after {
  height: 2rem;
  width: 2rem;
  border-right: 3px solid var(--wp--preset--color--base);
  border-top: 3px solid var(--wp--preset--color--base);
  filter: drop-shadow(2px 4px 10px black);
}
